html {
    color-scheme: light dark;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    align-items: flex-start; /* aligns items at the top */
    gap: 20px; /* optional: adds space between image and text */
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: lightsteelblue;
    width: 100vw;
    padding: 0 5vw;
    margin: 0px;
    /* box-sizing: border-box;  */
    /* align-items: center; */
}

#pic-and-intro {
    display: flex;
    gap: 20px;
}

/* .skills-container {
    padding: 20px;
} */

.skill-list {
    column-count: 2;
    column-gap: 30px; /* optional: spacing between columns */
    list-style-position: inside; /* optional: better alignment */
}

#skills-header {
    text-align: center;
}



#contactCard {
    outline: auto;
    width: 200px;
    padding: 10px 30px;
    background-color: #FCF5E5;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#github-div {
    padding: 10px;
}

.contact-element {
    /* padding: 5px; */
    margin: 5px;
}

.contact-text {
    
}

/* .table {

} */

/* main {
    background-color: #FCF5E5;
} */

/* .header-section {

  
} */


